$fonttitle 			: 'Poppins', sans-serif;
$fontbase 			: 'Open Sans', sans-serif;

$colorblack			: #000;
$colorwhite			: #FFF;
$darkblue			: #00456e;
$currentblue		: #0d8cd3;
$lightblue			: #dde8ee;
$lightgreen			: #e3fe93;
$colorgrey			: #d8d8d8;
$colorred			: #d82d54;

$easeinout : cubic-bezier(0.215, 0.600, 0.270, 0.995);