html,
body{
	min-height: 100%;
}
body{
	font-style: normal;
	font-family: $fontbase;
	font-size: 18px;
	line-height: 34px;
	color:$colorblack;
	margin: 0;
	width: 100%;
}
* {
	&:focus{
		outline:none;
	}
}
button{
	border:0px;
	background: none;
}
.cg-relative{
	position: relative;
	z-index: 4;
}











strong.colorlightblue{
	color: $currentblue !important;
}
.cg-mask{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	
	&.low{
		background: rgba(0, 69, 110, 0.3);
	}
	
	&.medium{
		background: rgba(0, 69, 110, 0.5);
	}
	
	&.strong{
		background: rgba(0, 69, 110, 0.8);
	}
	
}
.intro-txt{	
	text-align: center;
	margin-bottom: 50px;
	
	.button{
		margin: 70px 0 0 0;
				
		&:nth-child(2){
			margin: 20px 0 0 0;
		}
				
	}
	
}
.cg-ghost-link{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}
.cg-page-tags,
.cg-page-search{
	
	.cg-section-hero{
		margin-bottom: 50px;
	}
	
	.listing-articles{
		padding: 0 15px 20px 15px;
	}
		
}
/* -------------------------------
   SMALL SCREENS
------------------------------- */

@media (min-width: $screen-sm-min) {
	
	.cg-section{
		padding: 80px 0;
		
		&.cg-marge-top-none{
			padding-top:0;
		}

		&.cg-marge-top-small{
			padding-top:40px;
		}


		&.cg-marge-bot-none{
			padding-bottom:0;
		}

		&.cg-marge-bot-small{
			padding-bottom:40px;
		}
		
	}

	.intro-txt{	
		width: 90%;
		margin: 0 auto;
		
		.button{
			margin: 70px 10px 0 10px;
		    padding: 0 40px;
		}
		
	}
	
	.cg-page-tags,
	.cg-page-search{

		.cg-section-hero{
			margin-bottom: 80px;
		}

		.listing-articles{
			padding: 0 0 50px 0;
		}

	}

}

/* -------------------------------
   LARGE SCREENS
------------------------------- */

@media (min-width: $screen-lg-min) {
	
	.size-medium{
		width: 70%;
		margin: 0 auto;
	}

	.size-small{
		width: 50%;
		margin: 0 auto;
	}
	

}