/* -------------------------------
HEADER COMPONENT
------------------------------- */
header{
    position: fixed;
	top: 0;
    left: 0;
    z-index: 777;
    width: 100%;
	height: 68px;
    padding:8px 20px;
	transition: .5s $easeinout;
	
	&:after{
		content: '';
		background: $colorwhite;
		width: 100%;
		height: 100%; 
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		transform: translateY(-68px);
		transition: all .5s cubic-bezier(.85,0,.15,1);
	}
	&.header-scroll{
		border-bottom: 1px solid $lightblue;

		&:after{
			transform: translateY(0px);
		}
		.header-logo{
			img{
				transform: translateY(-68px);
			}
			&:after{
				transform: translateY(0);
			}
		}
		.burger-menu{
			.top,
			.middle,
			.bottom{
				background: $colorblack;
			}
		}
	}
	.header-top{
		display: none;
	}
	.header-main{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.header-logo{
		position: relative;
		z-index: 9;

		&:after{
			font-family:"icons";
			content: "\f10b";
			font-weight: 100;
			font-size: 48px;
			line-height: 48px;
			color: $colorblack;
			position: absolute;
			top: 0;
			transform: translateY(-65px);
			transition: all .5s cubic-bezier(.85,0,.15,1);
		}
		img{
			width: 48px;
			height: 48px;
			display: block;
			transition: all .5s cubic-bezier(.85,0,.15,1);
		}
		.logo-desktop{
			display: none;
		}
	}
	.burger-menu{
		display: flex;
		justify-content: center;
		position: relative;
		width: 32px;
		height: 23px;
		z-index: 7;
		position: relative;

		.top,
		.middle,
		.bottom{
			background: $colorwhite;
			height:3px;
			border-radius: 99rem;
			width: 100%;
			left: 0;
			position:absolute;
			transition:all .3s; 
		}
		.middle{
			top:10px;
		}
		.bottom{
			top:19px;
		}
		&.burger-menu-cross{
			.top,.bottom{
				background: $colorwhite;
				top: 10px;
				transform-origin: 50% 50% 0px;
			}
			.top{
				transform: rotate3d(0, 0, 1, 45deg);
			}
			.middle{
				opacity:0;
			}
			.bottom{
				transform: rotate3d(0, 0, 1, -45deg);
			}
		}
	}
	.header-button{
		position: relative;
		z-index: 7;
		height: 40px;
		padding: 0px 10px;
		font-size: 12px;

		i{
			font-weight: 100;
			margin-right: 8px;
		}
	}
	.border-button{
		background: $lightblue;
	}
	.header-nav{
		display: block;
		overflow-y: auto;
		background:$darkblue;
		width: 100%;
		position: fixed;
		top: 0;
		left: 0;
		height: 100vh;
		padding: 90px 20px 0 20px;
		text-align:center;
		transform:translateX(-110%);
		transition: all 0.8s cubic-bezier(0.85, 0, 0.15, 1) 0s;

		&.header-nav-open{
			transform:translateX(0%);
		}
		.border-button{
			display: flex;
			max-width: 300px;
			margin: 0 auto 20px auto;
		}
		ul{			
			li{
				&.current_page_parent{
					a{
						color:$currentblue;
						font-weight: bold;
					}
				}
				a{
					margin: 12px 0;
					color: $colorwhite;
					display: inline-flex;
					align-items: center;
					position: relative;

					.wpml-ls-flag{
						margin-right: 10px;
					}
				}
				&.menu-item-has-children {
					a{
						&:after{
							font-family:"icons";
							content: '\f10d';
							font-size: 10px;
							line-height: 10px;
							position: absolute;
							right: -20px;
							transition: .5s $easeinout;
						}
						&.link-open{
							&:after{
								transform: rotate(180deg);
							}
						}
					}
				}
				.sub-menu{
					display: none;
					padding: 6px 0;
					background-color: rgba($colorblack, 0.1);

					li{
						a{
							margin: 6px 0;
							font-size: 14px;
							
							&:after{
								display: none;
							}
						}
					}
					&.sub-menu_open{
						display: block;
					}
				}
				&.current-menu-item{
					a{
						color:$currentblue;
						font-weight: bold;
					}					
				}
			}
		}
	}
}
/* -------------------------------
MEDIUM SCREENS
------------------------------- */
@media (min-width: $screen-md-min) {
	header{
		background: $colorwhite;
		height: auto;
		position: sticky;
		align-items: unset;
		flex-wrap: wrap;
		padding: 0;
		
		&:after{
			display:none;
		}
		&.header-scroll{
			.header-logo{
				img{
					transform: translateY(-300px);
				}
			}
		}
		.burger-menu{
			.top,
			.middle,
			.bottom{
				background: $colorblack;
			}		
		}
		.header-logo{
			&:after{
				font-size: 68px;
				line-height: 68px;
				transform:translateY(-300px);
			}
			img{
				width: 180px;
				height: 68px;
			}
			.logo-desktop{
				display: block;
			}
			.logo-mobile{
				display: none;
			}
		}
		.header-top{
			background: url(../../library/img/header-top.jpg);
			background-size: cover;
			width: 100%;
			display: flex;
			justify-content: flex-end;
			padding: 8px 25px 8px 30px;
			position: relative;
			z-index: 7;

			.cbo-button{
				margin: 0 5px;
			}
		}
		.header-main{
			padding: 10px 30px;

			.cbo-button{
				display: none;
			}
		}
		.header-nav{
			padding-top:140px;
		}
	}
}
/* -------------------------------
LARGE SCREENS
------------------------------- */
@media (min-width: $screen-lg-min) {
	header{		
		.burger-menu{
			display:none;
		}
		.header-nav{
			background-color: rgba(0,0,0,0);
			position: relative;
			overflow: visible;
			transform:translate(0, 0px);
			padding: 0;
			flex-direction: inherit;
			width: auto;
			height: auto;
			transition: .5s all;

			.border-button{
				display: none;
			}
			ul{
				display: flex;
				align-items: center;
				padding: 0;
				height: 100%;

				li{
					position: relative;
					height: 100%;
					display: flex;
					align-items: center;

					a{
						padding:0 10px;
						margin: 0;
						color: $darkblue;
						font-size: 16px;
						height: 100%;
						transition: .5s all;
					}
					&.current_page_item,
					&:hover{
						a{
							color: $currentblue;
						}
					}
					&.current_page_item{
						font-weight: bold;
					}
					&.menu-item-has-children{
						a{
							&:after{
								display: none;
							}
						}
						.sub-menu{
							display: block;
							opacity: 0;
							visibility: hidden;
							pointer-events: none;
							background: $colorwhite;
							border-radius: 0 0 6px 6px;
							position: absolute;
							top: calc(100% - -80px);
							width: 260px;
							text-align: left;
							height: fit-content;
							transition: .5s all;

							li{
								transform: translateX(-1rem);
								opacity: 0;
								transition: .4s cubic-bezier(.165,.84,.44,1) .3s;

								a{
									color: $darkblue;
									padding: 10px 15px;
									line-height: 16px;
								}
							}
						}
						&:hover{
							.sub-menu{
								visibility: visible;
								opacity: 1;
								top: calc(100% - 0px);
								pointer-events: all;

								li{
									transform: translateX(0rem);
									opacity: 1;

									a{
										&:hover{
											color: $currentblue;
										}
									}
								}
							}
						}
					}
					&.wpml-ls-item{
						border-left: 1px solid $lightblue;
						padding-left: 20px;
						margin-left: 10px;

						.sub-menu{
							width: auto;
							left: 0;
							top: calc(100% - 12px);
							background: no-repeat;

							li{
								border: none;
								padding: 0 0 0 20px;
								margin: 0;

								a{
									margin: 0;
									padding: 0 10px;
								}
							}
						}
						&:hover{
							.sub-menu{
								top: calc(100% - 12px);
							}
						}
					}
				}
			}
		}	
	}
}