/* -------------------------------
   SINGLE PAGE COMPONENTS
   --
   Mobile First !
------------------------------- */

.cg-page-single{
	
	.cg-section-hero{
		margin-bottom: 50px;
		
		.button{
			display: table;
			margin: 0 auto;
			font-size: 14px;
			padding: 0px 10px;
			height: 20px;
			margin-bottom: 30px;
		}
		
	}
	
	.cg-autor{
		display: flex;
		align-items: center;
		margin: 0 0 70px 0;
		
		img{
			border-radius: 50%;
			width: 60px;
			height: 60px;
			margin: 0 20px 0 0;
		}

		.autor-name{
			font-size: 16px;
			color: $colorgrey;
					
			strong{
				color: $darkblue;
			}

		}

	}
	
	.page-single-content{
		padding: 0 15px;
		
		&.cg-cms{

			h2, h3, h4, h5{
				margin: 80px 0 30px 0;

				&:first-child{
					margin: 0 0 30px 0;
				}

			}
			
			img{
				display: block;
				margin: 0 auto;
				margin-top: 50px;
				margin-bottom: 50px;
				max-width: 100%;
				height: auto;
			}
				
		}
		
	}
	
	.cg-tags-container{
		display: block;
		margin: 50px 15px;
		border-top: 1px dashed rgba(0, 0, 0, 0.2);
		padding-top: 40px;
		display: flex;
	
		a{
			color: $darkblue;
			margin: 0 10px 0 0;
			border-radius: 4px;
			box-shadow: 0px 0px 0px 1px $darkblue inset;
			font-size: 14px;
			padding: 0 30px;
			height: 30px;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		
	}
	
	.cg-articles-similar{
		
		.main-title{
			width: 100%;
		}
		
	}
	
	.cg-comments{
		padding: 80px 0;
		
		.cg-comments-list{
			
			.comment{
				
				.comment-body{
					position: relative;
					
					.comment-meta{
						background: $colorwhite;						
						display: flex;
						margin: 0 0 20px 0;
						align-items: center;
						justify-content: space-between;
						
						.comment-author{
							display: flex;
							align-items: center;
							
							.fn{
								color: $darkblue;
								
								a{
									color: $darkblue;
								}
								
							}
							
							.says{
								display: none;
							}
							
							img{
								border-radius: 50%;
								width: 60px;
								height: 60px;
								margin: 0 20px 0 0;
							}
							
						}
						
						.comment-metadata{
							
							a{
								font-size: 14px;
								color: $colorgrey;
							}
							
						}
						
					}
					
					.comment-content{
						background: rgba(216, 216, 216, 0.4);
						font-size: 15px;
						line-height: 25px;
						padding: 20px;
						margin: 0 0 30px 0;
						border-radius: 0 30px 30px 30px;
					}
					
					.reply{
						
						a{
							background-color: $colorwhite;
							color: $darkblue;
							box-shadow: 0px 0px 0px 1px $darkblue;
							display: block;
							text-align: center;
							border-radius: 6px;
							cursor: pointer;
							position: absolute;
							font-size: 14px;
							padding: 0 14px;
							bottom: -16px;
							right: 40px;
						}
						
					}
					
				}
				
				.children{
					list-style-type: none;
					
					.comment-body{
						
						.comment-meta{
							padding: 0;
							flex-direction: row-reverse;
							
							.comment-author{
								flex-direction: row-reverse;
								
								img{
									margin: 0 0 0 20px;
								}
								
							}
							
						}
					
						.comment-content{
							background: $lightblue;
							color: $colorwhite;
							border-radius: 30px 0 30px 30px;
							text-align: right;
							
							a{
								color: $lightblue;
							}
							
						}
						
						.reply{

							a{
								right: inherit;
								left: 40px;
							}

						}
						
					}
					
				}
				
			}
			
		}
		
	}
	
}

/* -------------------------------
   SMALL SCREENS
------------------------------- */

@media (min-width: $screen-sm-min) {

	.cg-page-single{

		.cg-section-hero{
			margin-bottom: 80px;
		}

		.page-single-content{
			padding: 0;
			
			&.cg-cms{

				h2, h3, h4, h5{
					margin: 100px 0 30px 0;
				}

			}

		}

		.cg-tags-container{
			margin: 80px 0;

			a{
				transition: .5s $easeinout;

				&:hover{
					box-shadow: 0px 0px 0px 50px $darkblue inset;
					color: $colorwhite;
				}

			}

		}

	}

}