/* -------------------------------
   MICRO COMPONENT FOR ACTU BLOC
   --
   Mobile First !
------------------------------- */

.listing-articles{
	
	.slick-list{
	
		.slick-track{
			display: flex;
			justify-content: center;
			
			.slick-slide{
				height: auto;
				margin: 0 0 30px 0;
				
				&.slick-slide>div{
					height: 100%;
				}
				
				.bloc-article{
					margin: 0;
					height: 100%;
					display: flex !important;
					align-content: space-between;
				}
				
			}
			
		}

	}

	.bloc-article{
		box-shadow: 0px 0px 0px 2px $lightblue inset;
		border-radius:10px;
		margin-bottom: 30px;
		display: flex;
		flex-wrap: wrap;
		position: relative;
		background: $colorwhite;
	
		.bloc-article_top{
			width: 100%;
			
			.bloc-article_img{
				height: 180px;
				display: block;
				border-radius: 10px 10px 0 0;
				position:relative;
				background-size: cover;
				background-position: center;
			}

			.bloc-article_cat{
				padding: 7px 12px;
				color: $darkblue;
				background: $lightblue;
				text-transform: uppercase;
				font-size: 12px;
				font-weight: 700;
				position: absolute;
				bottom: -18px;
				left: 15px;
				z-index: 3;
				transition: all .5s cubic-bezier(.85,0,.15,1);
			}

			.bloc-article_content{
				padding: 30px 15px 15px 15px;
			
				.bloc-article_title{
					font-size: 20px;
					font-weight: 400;
					line-height: 26px;
					display: block;
					margin-bottom: 15px;
					color: $colorblack;
					transition: all .5s cubic-bezier(.85,0,.15,1);
				}

				.bloc-article_desc{
					font-size: 12px;
					line-height: 20px;
				}

			}
			
		}
		
		.bloc-article_date{
			font-size: 12px;
			font-weight: 700;
			border-top: 1px solid $colorblack;
			padding: 15px 0;
			margin: 0 15px;
			display: block;
			width: 100%;
		}
		
	}
	
}

/* -------------------------------
   SMALL SCREENS
------------------------------- */

@media (min-width: $screen-sm-min) {

	.listing-articles{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		
		.slick-list{

			.slick-track{

				.slick-slide{
					width: 45% !important;
    				margin: 0 15px 30px;
				}

			}

		}

		.bloc-article{
			width: 45%;
			align-content: space-between;
			margin: 0 15px 30px 15px;
			
			.bloc-article_top{

				.bloc-article_content{

					.bloc-article_title{
						font-size: 26px;
						line-height: 32px;
					}
				
				}

			}
			
			&:hover{
				
				.bloc-article_top{
			
					.bloc-article_cat{
						bottom: 20px;
					}
					
					.bloc-article_content{

						.bloc-article_title{
							color:$darkblue;
						}

					}

				}
				
			}
			
		}

	}

}

/* -------------------------------
   MEDIUM SCREENS
------------------------------- */

@media (min-width: $screen-md-min) {

	.listing-articles{
		
		.bloc-article{
			width: 30%;
		}

	}

}