/* -------------------------------
   ONGLETS MICRO COMPONENT
   --
   Mobile First !
------------------------------- */

.cg-onglets-container{
	display: none;
}

/* -------------------------------
   SMALL SCREENS
------------------------------- */

@media (min-width: $screen-sm-min) {

	.cg-onglets-container{
		display: block;
		
		.cg-onglets{
			font-size: 20px;
			margin-bottom: 50px;
			cursor: pointer;
			display: flex;
			justify-content: center;

			.cg-onglet_title{
				text-align: center;
				margin:0 30px;
				position: relative;
				display: flex;
				flex-direction: column;
				justify-content: space-between;

				.cg-onglet_title-pic{
					display: block;
					margin: 0 auto;
					margin-bottom: 15px;
				}

				&.active{
					font-weight: bold;
					color: $darkblue;
				}

				&:hover{
					color: $darkblue;
				}

			}

		}

		.cg-onglets_content{
			visibility: hidden;
			opacity: 0;
			transform: translateX(-100%);
			height: 0;
			transition: .5s $easeinout;

			&.cg-cms{
				
				p{
					text-align: center;
				}
				
			}
			
			&.active{
				visibility: visible;
				opacity: 1;
				transform: translateX(0%);
				height: auto;
			}

		}

		&.onglets-fish{

			.cg-onglets{
				border-bottom: 2px solid;
				padding: 0 0 30px 0;
				overflow: hidden;

				.cg-onglet_title{

					&.active{

						&:before{
							bottom: -46px;
						}

					}

					&:after{
						display: none;
					}

					&:before{
						font-family:"icons";
						content: '\f104';
						position: absolute;
						bottom: -100px;
						left: 50%;
						font-size: 58px;
						margin-left: -29px;
						transition: .5s $easeinout;
					}

					&:hover{

						&:before{
							bottom: -46px;
						}

					}

				}

			}

			.cg-onglets_content{

				.onglet-txt-img-container{
					display: flex;
					
					.onglet-txt-img_pic{
						width: 40%;
						display: flex;
						align-items: center;
						justify-content: center;
						
						img{
							max-width: 100%;
						}
						
					}

					.onglet-txt-img_txt{
						width: 60%;
						padding: 30px 0 30px 50px;

						h2, h3, h4, h5{
							font-size: 26px;
							line-height: 42px;
						}

						.button{
							margin: 30px 10px 0 0;
							display: inline-block;
							padding: 4px 40px;
						}

					}

				}

			}

		}

	}
	
}