/* -------------------------------
   PAGINATION COMPONENT
   --
   Mobile First !
------------------------------- */

.cg-pagination{
	padding: 0 0 50px 0;
	width: 100%;
    display: flex;
    justify-content: center;
	
	li{
		
		a{
			color: $darkblue;
			margin: 0 10px;
			border-radius: 4px;
			box-shadow: 0px 0px 0px 1px $darkblue inset;
			font-size: 14px;
			width: 30px;
			height: 30px;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		
		&.paginate-next,
		&.paginate-prev{
			
			a{
				width: auto;
				padding: 0 24px;
			}
			
		}
		
		&.disabled{
			display: none;
		}
		
	}
	
}

/* -------------------------------
   SMALL SCREENS
------------------------------- */

@media (min-width: $screen-sm-min) {

	.cg-pagination{
		
		li{

			a{
				transition: .5s $easeinout;

				&:hover{
					box-shadow: 0px 0px 0px 50px $darkblue inset;
					color: $colorwhite;
				}

			}

		}
		
	}
	
}