/* -------------------------------
   SECTION ADOPTION COMPONENT
   --
   Mobile First !
------------------------------- */

.cg-section-adoption{ 
	
	.section-adoption-container{
		
		.section-adoption-txt{
			padding: 30px 0 0 0;
			 
			.main-title{
				font-family: $fonttitle;
				text-align: left;
				margin-bottom: 80px;
				
				&:after{
					margin-left: 0;
					left: 0;
				}
					
			}			
			
		}
		
		.section-adoption-form{
			padding: 50px 0 0 0;
			
			.screen-reader-response{
				display: none;
			}
			
			form{
				padding: 30px;
				background: $colorwhite;
				box-shadow: 0px 0px 5px -1px #d8d8d8;
				
				p{
					display: flex;
					flex-wrap: wrap;
					
					.input-half,
					.input-full{
						margin: 0 0 20px 0;
						position:relative;
						width: 100%;
						
						&.your-message{
							width: 100%;
						}
						
					}
					
					.wpcf7-not-valid-tip{
						font-size: 11px;
						color: $colorred;
						font-weight: bold;
						position: absolute;
						width: 100%;
						bottom: -25px;
						left: 12px;
					}
					
				}
				
				.wpcf7-response-output{
					font-weight: bold;
					text-align: center;
					font-size: 16px;
					line-height: 18px;
					margin: 15px 0 0 0;
					color: $currentblue;
				}
								
				&.invalid{
					
					.wpcf7-response-output{
						color: $colorred;
					}
					
				}
				
			}
				
		}
		
	}
	
}

/* -------------------------------
   SMALL SCREENS
------------------------------- */

@media (min-width: $screen-sm-min) {
	
	.cg-section-adoption{

		.section-adoption-container{
			display: flex;

			&.form-left{

				.section-adoption-txt{
					padding: 30px 0 30px 50px;
					order: 2;
				}
				
				.section-adoption-form{
					order:1;
				}

			}

			&.form-right{

				.section-adoption-txt{
					padding: 30px 50px 30px 0;
				}

			}

			.section-adoption-txt{
				width: 50%;

				.button{
					margin: 30px 10px 0 0;
					display: inline-block;
					padding: 4px 40px;
				}

			}

			.section-adoption-form{
				width: 50%;
				
				form{
					padding: 50px 40px;
				}
				
			}

		}

	}

}

/* -------------------------------
   MEDIUM SCREENS
------------------------------- */

@media (min-width: $screen-md-min) {
	
	.cg-section-adoption{

		.section-adoption-container{

			.section-adoption-form{
				
				form{
					padding: 50px 40px;

					p{
						
						.input-half{
							width: 44.9%;
							margin: 0 10px 20px 10px;
						}
						
						.input-full{
							width: 100%;
							padding: 0 10px 0 10px;
						}
						
					}

				}
				
			}

		}

	}

}

/* -------------------------------
   LARGE SCREENS
------------------------------- */

@media (min-width: $screen-lg-min) {
	
	.cg-section-adoption{

		.section-adoption-container{

			.section-adoption-form{
				
				form{

					p{
						
						.input-half{
							width: 45.7%;
						}

					}

				}
				
			}

		}

	}

}