/* -------------------------------
   SECTION TXT IMG COMPONENT
   --
   Mobile First !
------------------------------- */

.cg-section-txt-img{
	
	.intro-txt{
		margin-bottom: 50px;
	}
	
	.txt-img-container{
		
		.section-txt-img_txt{
			padding: 30px 0 0 0;
			
			h2, h3, h4, h5{
				font-family:$fontbase;
				font-size: 20px;
				font-weight: 700;
				line-height: 46px;
				display: block;
				margin: 0 0 15px 0;
			    display: flex;
    			align-items: center;
				margin: 50px 0 15px 0;
		
				&:first-child{
					margin: 0 0 15px 0;
				}
				
				strong{
					font-size: 14px;
					font-weight: 700;
					border-radius: 4px;
					box-shadow:0px 0px 0px 2px $darkblue inset;
					color: $darkblue;
				    padding: 0px 15px;
					margin: 0 15px 0 0;
				}
				
			}
			
			.button{
				margin: 15px 10px 0 0;
			}
			
		}
		
		.section-txt-img_pic{
			height: 300px;
			background-size: cover;
			background-position: 50%;
		}
		
	}
	
}

/* -------------------------------
   SMALL SCREENS
------------------------------- */

@media (min-width: $screen-sm-min) {
	
	.cg-section-txt-img{

		.intro-txt{
			margin-bottom: 80px;
		}

		.txt-img-container{
			display: flex;

			&.pic-left{

				.section-txt-img_txt{
					padding: 30px 0 30px 50px;
				}

			}

			&.pic-right{

				.section-txt-img_txt{
					padding: 30px 50px 30px 0;
				}

				.section-txt-img_pic{
					order:2;
				}

			}

			.section-txt-img_txt{
				width: 60%;
			
				h2, h3, h4, h5{
					font-size: 26px;
					line-height: 42px;
				}

				.button{
					margin: 30px 10px 0 0;
					display: inline-block;
					padding: 0 40px;
				}

			}

			.section-txt-img_pic{
				width: 40%;
				height: auto;
			}

		}

	}

}