/* -------------------------------
   SECTION TEAM COMPONENT
   --
   Mobile First !
------------------------------- */

.cg-section-team{
			
	.bloc-team{
		text-align: center;
		flex-direction: column;
		display: flex;
		margin: 0 0 30px 0;
				
		.team-pic{
			width: 100px;
			height: 100px;
			display: block;
			margin: 0 auto;
			margin-bottom: 10px;
			border-radius: 4px;
		}
			
		.team-desc{
			font-size: 12px;
			line-height: 17px;
    		margin: 10px 0 0 0;
		}
				
	}
				
}

/* -------------------------------
   SMALL SCREENS
------------------------------- */

@media (min-width: $screen-sm-min) {

	.cg-section-team{

		.cg-onglets-container{

			.cg-onglets_content{
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				width: 70%;
    			margin: auto;
				
				.bloc-team{
					width: 21%;
					margin: 0 15px 50px 15px;
				}

			}

		}

	}	

}