/* -------------------------------
   BLOCS WITH BIG NUMBER SECTION COMPONENTS
   --
   Mobile First !
------------------------------- */

.cg-section-blocs-number{
	
	.blocs-number-container{
		
		.bloc-number{
			border: 2px solid $lightblue;
			border-radius: 9px;
			text-align: left;
			padding: 20px;
			margin: 0 0 30px 0;
			
			.number{
				font-family:$fonttitle;
				font-size: 60px;
				line-height: 60px;
				text-transform: uppercase;
			    width: 100%;
			}
			
		}
		
		img{
			display: block;
			margin: 0 auto;
			margin-top: 20px;
		}
		
	}
	
	&.section-light-blue{
		
		.blocs-number-container{
			
			.bloc-number{
				border: 3px solid $darkblue;
			}

		}
		
	}
	
}

/* -------------------------------
   SMALL SCREENS
------------------------------- */

@media (min-width: $screen-sm-min) {
	
	.cg-section-blocs-number{

		.intro-txt{
			margin-bottom: 80px;
		}

		.blocs-number-container{
			display: flex;
			
			.bloc-number{
				margin: 0;
				width: 100%;
				
				&:last-child{
					margin: 0 0 0 30px;
				}
				
			}

		}

	}

}